/* About me block */
.about {
    background-color: var(--color-gray-lighter);
    padding-top: 100px;
    padding-bottom: 92px;
    text-align: center;
}

.about__title {
    margin-top: 8px;
    margin-bottom: 35px;
}

.about__description {
    color: var(--color-secondary);
}