@use "../presets" as *;
@use "../mixins" as *;

/* About me block */
.about {
    padding-top: 100px;
    padding-bottom: 92px;
    background-color: $color-gray-lighter;

    @include section();

    @include respond-to($breakpoint-sm, $breakpoint-md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
      
    @include respond-to($breakpoint-xs, $breakpoint-sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}