@use "./presets" as *;
@use "./mixins" as *;

/* Footer block */
.footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 45px;

    @include respond-to($breakpoint-xs, $breakpoint-sm) {
        padding: 25px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: calc($gap-sm - 4px);
    }
    
    &__title {
        font-size: 21px;
    }
    
    &__copyright {
        font-size: 13px;
        font-weight: 300;
    }
}

