@use "./presets" as *;

/* Header and navbar */
.header {
    background-color: $color-gray-light;
    padding-top: 69px;
    padding-bottom: 141px;
}

.navbar {
    padding-bottom: 140px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        letter-spacing: $letter-spacing;
        column-gap: 27px;
        margin-left: -1.1em;
    }
    
    &__link {
        display: block;
        font-size: $font-size;
        color: $color-black;
        text-transform: uppercase;
        padding: 0.5em 0.75em;
        cursor: pointer;

        &--active {
            color: $color-primary;
            font-weight: 700;
        }
    }
}

