@use "./presets" as *;
@use "./mixins" as *;

/* Process block */
.process {
    background-color: $color-gray-lighter;
    padding-top: 89px;
    padding-bottom: 0;

    @include section();

    @include respond-to($breakpoint-sm, $breakpoint-md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
      
    @include respond-to($breakpoint-xs, $breakpoint-sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}