@use "../presets" as *;

%section {
    padding-top: 100px;
    padding-bottom: 92px;
    text-align: center;
    
    &__title {
        margin-top: 8px;
        margin-bottom: 35px;
    }
    
    &__description {
        color: $color-secondary;
    }
}