/* Media Queries */
@media (992px <= width < 1200px) {
    .video__player {
        min-height: 500px;
        max-height: fit-content;
    }
}

@media (768px <= width < 992px) {
    .projects {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .video__player {
        min-height: 350px;
        max-height: fit-content;
    }
}

@media (576px <= width < 768px) {
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .projects {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .process {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .video__player {
        margin-top: 0;
        min-height: 250px;
        max-height: fit-content;
    }
}

@media (375px <= width < 576px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .navbar__list {
        justify-content: center;
    }
    .hero {
        align-items: center;
        text-align: center;
    }
    .about {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .projects {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .process {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .video__player {
        margin-top: 0;
        min-height: 100px;
        max-height: fit-content;
    }
    .footer {
        padding: 25px;
    }
}